<div class="landing-page">
    <h1>Welcome to Angular Forms</h1>
  
    <div class="form-container">
      <div class="form-info">
        <h2>Template Driven Form</h2>
        <p>Template-driven forms are synchronous, meaning that the user is unable to interact with the rest of the form or application until the form is done processing.</p>
      </div>
  
      <button routerLink="/template-form" class="form-button">Template Driven Form</button>
    </div>
  
    <div class="form-container">
      <div class="form-info">
        <h2>Reactive Form</h2>
        <p>Reactive forms are asynchronous, meaning that the form does not wait for the user to interact with the rest of the form or application.</p>
      </div>
  
      <button routerLink="/reactive-form" class="form-button">Reactive Form</button>
    </div>
  </div>
  